.vs/
Binaries/
Saved/

Intermediate/AssetRegistryCache/
Intermediate/Build/
Intermediate/Config/
Intermediate/ReimportCache/
x64/
Intermediate/CachedAssetRegistry.bin
Content/ArmorPack/

Content/BagIcons/
Content/BattleSounds/
Content/CombatText/
Content/Countess
Content/Fantasy_RPG_Music_Lite/
Content/FantasyMusic/
Content/flat_inventory_icons/
Content/HFVillainsVol2/
Content/InfinityBladeEffects/
Content/InfinityBladeWeapons/
Content/Interface_and_Item_SFX_10/
Content/ItemboxPackII/
Content/MonsterSFX/
Content/ParagonGrux/
Content/ParagonPhase/
Content/ParagonSerath/
Content/ParagonShinbi/
Content/ParagonTerra/
Content/ParagonYin/
Content/StarterContent/
Content/StylizedDungeon/
Content/Textures/
Content/UniversalSkillIcons/
Content/UIProject/
Content/rpgeffects/
